.App {
  text-align: center;
  background-color: rgb(156, 156, 143);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App input{
  margin-top: 3rem;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.container {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  background-color: #282c34;
  width: 50%;
  height: 50%;

}
.container img {
  border: 1px solid rgb(239, 239, 241);
  border-radius: 4px;
  padding: 5px;
  width: 100%;

}
.container img :active {
  border: 1px solid rgb(197, 4, 45);
  border-radius: 5px;
  padding: 5px;
  width: 90%;

}
.container span{
  color: #ddd;
  font-size: medium;
  border-bottom: 2px solid rgb(197, 4, 45) ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
